

$color-primary: #263238;
$color-primary-light: #4f5b62;
$color-primary-dark: #000a12;

$color-error: #f44336;
$color-success: #4caf50;

$color-black: #000;
$color-white: #fafafa;

$default-font-size: 1.6rem;
$default-line-height: 1.5;
$default-font-color: $color-white;

$padding-primary: 2rem; // 20px

$box-shadow-primary: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
